<template>
  <div class="container">
    <v-card class="mx-auto overflow-hidden" style="width:100%">
      <v-app-bar color="deep-purple" dark>
        <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
        <v-toolbar-title>COVID-19</v-toolbar-title>
      </v-app-bar>
      <div v-if="dataReady" class="worldcontainer">
        <div class="w-card">
          <div class="panel panel-warning">
            <p>WORLD WISE DATA</p>
            <p>NewConfirmed:{{this.coronaData.Global.NewConfirmed}}</p>
            <p>TotalConfirmed:{{this.coronaData.Global.TotalConfirmed}}</p>
            <p>NewDeaths:{{this.coronaData.Global.NewDeaths}}</p>
            <p>TotalDeaths:{{this.coronaData.Global.TotalDeaths}}</p>
            <p>NewRecovered:{{this.coronaData.Global.NewRecovered}}</p>
            <p>TotalRecovered:{{this.coronaData.Global.TotalRecovered}}</p>
          </div>
        </div>
        <hr />
        <div class="c-card-container">
          <div class="c-card" v-for="(countries,index) in sortedCountries" :key="index">
            <div class="panel panel-success">
              <p style="display:flex;
            
            align-items:center">
                Country:{{countries.Country}}
                <img :src="countries.image" />
              </p>

              <p>Date:{{countries.Date}}</p>
              <p>New Confirmed:{{countries.NewConfirmed}}</p>
              <p>Total Confirmed:{{countries.TotalConfirmed}}</p>
              <p>New Deaths:{{countries.NewDeaths}}</p>
              <p>Total Deaths:{{countries.TotalDeaths}}</p>
              <p>New Recovered:{{countries.NewRecovered}}</p>
              <p>Total Recovered:{{countries.TotalRecovered}}</p>
            </div>
          </div>
        </div>
        <div class="charts">
          <div class="chartbutton">
            <v-btn color="primary" v-on:click="chart = 'bar'">BarChart</v-btn>
            <v-btn color="error" v-on:click="chart = 'pie'">PieChart</v-btn>
          </div>
          <canvas v-if="chart === 'bar'" id="myChart" width="100px" height="100px"></canvas>
          <canvas v-if="chart === 'pie'" id="newCasesChart" width="100px" height="100px"></canvas>
        </div>
      </div>

      <v-navigation-drawer v-model="drawer" absolute temporary>
        <v-list nav dense>
          <v-list-item-group v-model="group" active-class="deep-purple--text text--accent-4">
            <v-list-item>
              <v-list-item-icon>
                <!-- <v-col cols="12" sm="3"> -->
                <v-btn icon color="pink">
                  <v-icon>mdi-heart</v-icon>
                </v-btn>
                <!-- </v-col> -->
              </v-list-item-icon>

              <router-link style="text-decoration:none" to="/india">
                <v-list-item-title>India</v-list-item-title>
              </router-link>
            </v-list-item>
            <v-list-item>
              <v-list-item-icon>
                <v-btn icon color="indigo">
                  <v-icon>mdi-heart</v-icon>
                </v-btn>
              </v-list-item-icon>
              <router-link style="text-decoration:none" to="/telangana">
                <v-list-item-title>Telangana</v-list-item-title>
              </router-link>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>
    </v-card>
  </div>
</template>

<script>
import axios from "axios";
import Chart from "chart.js";
export default {
  name: "hope",
  data() {
    return {
      coronaData: {},
      todayConfirmed: [],
      selectedCountries: [],
      sortedCountries: [],
      miniSortedCountries: [],
      chart: "pie",
      surprise: true,
      drawer: false,
      group: false,
      requiredCountryNames: [
        "India",
        "Australia",
        "Canada",
        "Singapore",
        "United States of America"
      ],
      dataReady: false
    };
  },
  methods: {
    alertDisplay() {
      // $swal function calls SweetAlert into the application with the specified configuration.
      this.$swal("New Feature", "Telangana State District-wise Updated", "OK");
    },
    getcovidData() {
      axios.get("https://api.covid19api.com/summary").then(response => {
        this.coronaData = response.data;

        this.selectedCountries = this.coronaData.Countries.filter(country => {
          return this.requiredCountryNames.includes(country.Country);
        });

        this.sortedCountries = this.coronaData.Countries.sort((obj1, obj2) => {
          if (obj1.NewConfirmed > obj2.NewConfirmed) {
            return -1;
          }
          if (obj1.NewConfirmed < obj2.NewConfirmed) {
            return 1;
          } else {
            return 0;
          }
        }).slice(0, 5);
        this.todayConfirmed = this.selectedCountries.map(obj => {
          return { cases: obj.NewConfirmed, cntry: obj.Country };
        });
        this.miniSortedCountries = this.sortedCountries.map(obj => {
          return { count: obj.NewConfirmed, label: obj.Country };
        });
        this.setImages();
      });
    },
    setImages() {
      this.sortedCountries.forEach(country => {
        country.image = `https://www.countryflags.io/${country.CountryCode}/shiny/64.png`;
      });
      this.dataReady = true;
    },

    drawBarChart(ctx) {
      var myChart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: this.miniSortedCountries.map(c => c.label),
          datasets: [
            {
              label: "Today Highest Number Of Cases Reported Countries",
              data: this.miniSortedCountries.map(c => c.count),
              backgroundColor: [
                "rgba(255, 99, 132, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(255, 159, 64, 0.2)"
              ],
              borderColor: [
                "rgba(255, 99, 132, 1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
                "rgba(255, 159, 64, 1)"
              ],
              borderWidth: 1
            }
          ]
        },
        options: {
          responsive: true,
          maintainAspectRatio: true,
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true
                }
              }
            ]
          }
        }
      });
    },
    newCasesChart(ctx) {
      var newCasesChart = new Chart(ctx, {
        type: "pie",
        data: {
          labels: this.todayConfirmed.map(c => c.cntry),
          datasets: [
            {
              label: "Selected Countries Number of Cases Today",
              data: this.todayConfirmed.map(c => c.cases),
              backgroundColor: [
                "rgba(255, 99, 132, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(255, 159, 64, 0.2)"
              ],
              borderColor: [
                "rgba(255, 99, 132, 1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
                "rgba(255, 159, 64, 1)"
              ],
              borderWidth: 1
            }
          ]
        },
        options: {
          responsive: true,
          maintainAspectRatio: true,
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true
                }
              }
            ]
          }
        }
      });
    }
  },
  mounted: function() {
    this.getcovidData();

    setTimeout(() => {
      this.surprise = false;
    }, 500);
  },
  updated: function() {
    var barCtx = document.getElementById("myChart");
    var pieCtx = document.getElementById("newCasesChart");
    if (barCtx) {
      this.drawBarChart(barCtx);
    }
    if (pieCtx) {
      this.newCasesChart(pieCtx);
    }
  }
};
</script>

<style lang="scss">
.c-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .c-card {
    width: 300px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    background-color: #80d8ff;
    p {
      margin: 0;
      padding: 5px;
      font-family: "Nunito", sans-serif;
      font-size: 17px;
    }
  }
}
.worldcontainer {
  .w-card {
    display: flex;
    align-items: center;
    width: 280px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    background-color: #84ffff;
    p {
      margin: 0;
      padding: 5px;
      font-family: "Nunito", sans-serif;
      font-size: 17px;
    }
  }
  .charts {
    #myChart {
      width: 100%;
      height: 400px;
    }
  }
  .chartbutton {
    display: flex;
    // align-items: center;
    justify-content: space-evenly;
    margin: 5px;
  }
  .container {
    width: 100%;
  }
}

.rlinks {
  display: flex;
  width: 300px;
  justify-content: space-between;
}
</style>
