<template>
  <div class="container" v-if="dataReady">
    <router-link to="/">
      <v-btn color="primary">HOME</v-btn>
    </router-link>
    <!-- <div v-for="(state,index) in NewConfirmed" :key="index">
      <p>{{}}</p>
    </div>-->
    <div v-for="(stateCode, index) in stateCodeList" :key="index">
      <div class="state" style="margin:15px">
        <div class="todaycard" color="yellow">
          <v-card
            style=" width: 300px;
                    padding: 15px;
                     margin: 15px
                    "
          >
            <p style="color:#b78b53">{{mapping[stateCode]}}</p>
            <p
              style="color:blue"
            >Confirmed Today: {{NewConfirmed[NewConfirmed.length -1][stateCode]}}</p>
            <p style="color:red">Deceased Today: {{NewDeceased[NewDeceased.length -1][stateCode]}}</p>
            <p
              style="color:green"
            >Recovered Today: {{NewRecovered[NewRecovered.length -1][stateCode]}}</p>
          </v-card>
        </div>
        <canvas :id="stateCode"></canvas>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import _ from "lodash";
export default {
  data() {
    return {
      states: {},
      caseArray: [],
      daily: [],
      confirmed: [],
      NewConfirmed: [],
      deceased: [],
      NewDeceased: [],
      recovered: [],
      NewRecovered: [],
      stateCodeList: [],
      dataReady: false,
      mapping: {}
    };
  },
  methods: {
    getstateData() {
      axios
        .get("https://api.covid19india.org/states_daily.json")
        .then(response => {
          this.states = response.data;
          this.daily = this.states.states_daily;
          this.confirmed = this.daily.filter(item => {
            return item.status === "Confirmed";
          });
          this.NewConfirmed = _.takeRight(this.confirmed, 5);
          // console.log(this.NewConfirmed);
          this.deceased = this.daily.filter(item => {
            return item.status === "Deceased";
          });
          this.NewDeceased = _.takeRight(this.deceased, 5);
          this.recovered = this.daily.filter(item => {
            return item.status === "Recovered";
          });
          this.NewRecovered = _.takeRight(this.recovered, 5);
          this.confirmed.forEach(statecode => {
            let newState = { name: statecode };
          });

          this.createStateCodeList();
        });
    },
    createStateCodeList() {
      // Get state mapping
      axios
        .get("https://api.covidindiatracker.com/state_data.json")
        .then(response => {
          var data = response.data;
          data.forEach(stateData => {
            const code = stateData["id"].split("-")[1].toLowerCase();
            this.mapping[code] = stateData.state;
          });

          // create array of state code
          const rawList = Object.keys(this.confirmed[0]);
          this.stateCodeList = rawList.filter(item => {
            return item !== "status" && item !== "date";
          });

          // Data is now ready
          this.dataReady = true;
        });
    },

    newCasesChart(ctx, code) {
      var newCasesChart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: this.NewConfirmed.map(c => c.date),
          datasets: [
            {
              label: "Total Number of Confirmed Cases Today",
              data: this.NewConfirmed.map(c => c[code]),
              borderColor: "blue",
              backgroundColor: "blue"
            },
            {
              label: "Total Number of Deceased Cases Today",
              data: this.NewDeceased.map(c => c[code]),
              borderColor: "red",
              backgroundColor: "red"
            },
            {
              label: "Total Number of Recovered Cases Today",
              data: this.NewRecovered.map(c => c[code]),
              borderColor: "limegreen",
              backgroundColor: "limegreen"
            }
          ]
        },
        // },

        //       }

        // )};
        options: {
          responsive: true,
          maintainAspectRatio: true,
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true
                }
              }
            ]
          }
        }
      });
    }
  },
  mounted: function() {
    this.getstateData();
  },
  updated: function() {
    this.stateCodeList.forEach(code => {
      //   let ctxData = { code: code, cases: this.confirmed[code] };
      let ctx = document.getElementById(code);
      if (ctx) {
        this.newCasesChart(ctx, code);
      }
    });
  }
  // }
};
</script>
<style lang="scss">
.container {
  margin: 10px;
  padding: 0px;
}
.state {
  margin: px;
  padding: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);

  border-width: 1px;
  border-style: solid;
  border-image: initial;
  // margin: 8px;
  border-color: rgb(16, 48, 16);

  // .todaycard {
  //   /deep/ #1 {

  //   }
  // }
}
</style>