<template>
  <div class="container" v-if="dataReady">
    <router-link to="/">
      <v-btn color="primary">HOME</v-btn>
    </router-link>
    <div class="districts" v-for="(district,index) in districts" :key="index">
      <v-card color="#039BE5">
        <p>District: {{district}}</p>
        <p>Confirmed:{{telangana[district].confirmed}}</p>
        <p>Active:{{telangana[district].active}}</p>
        <!-- <p>confirmed:{{states.Telangana.districtData.Khammam.confirmed}}</p> -->
        <p>Deceased:{{telangana[district].deceased}}</p>
        <p>Recovered:{{telangana[district].recovered}}</p>
        <p>Others:{{telangana[district].delta.confirmed}}</p>
      </v-card>
    </div>
    <canvas width="100px" height="100px" id="districtChart"></canvas>
  </div>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      states: {},
      districts: [],
      dataReady: false,
      telangana: {},
      sortedDistricts: [],
      chartData: [],
      tgDistrictWiseArray: []
    };
  },
  methods: {
    getstateData() {
      axios
        .get("https://api.covid19india.org/state_district_wise.json")
        .then(response => {
          this.states = response.data;
          this.telangana = this.states.Telangana.districtData;
          this.districts = Object.keys(this.telangana);
          this.createDistrictArray();
          this.createSorted();
          this.dataReady = true;
        });
    },
    createSorted() {
      this.sortedDistricts = this.tgDistrictWiseArray
        .sort((obj1, obj2) => {
          if (obj1.data.confirmed > obj2.data.confirmed) {
            return -1;
          }
          if (obj1.data.confirmed < obj2.data.confirmed) {
            return 1;
          } else {
            return 0;
          }
        })
        .slice(0, 3);
      this.chartData = this.sortedDistricts.map(obj => {
        return { cases: obj.data.confirmed, dist: obj.name };
      });
    },
    createDistrictArray() {
      this.districts.forEach(dist => {
        let newDistrict = { name: dist, data: this.telangana[dist] };
        this.tgDistrictWiseArray.push(newDistrict);
      });
    },
    drawBarChart(ctx) {
      var myChart = new Chart(ctx, {
        type: "doughnut",
        data: {
          labels: this.chartData.map(c => c.dist),
          datasets: [
            {
              label: "Highest Number Of Cases Reported  Districts",
              data: this.chartData.map(c => c.cases),
              backgroundColor: [
                "rgba(255, 99, 132, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(255, 159, 64, 0.2)"
              ],
              borderColor: [
                "rgba(255, 99, 132, 1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
                "rgba(255, 159, 64, 1)"
              ],
              borderWidth: 1
            }
          ]
        },
        options: {
          responsive: true,
          maintainAspectRatio: true,
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true
                }
              }
            ]
          }
        }
      });
    }
  },
  mounted: function() {
    this.getstateData();
  },
  updated: function() {
    var ctx = document.getElementById("districtChart");
    if (ctx) {
      this.drawBarChart(ctx);
    }
  }
};
</script>
<style lang="scss">
.container {
  margin: 5px;
  padding: 5px;
}
.districts {
  width: 400px;
  padding: 10px;
}
</style>